iframe {
    border-radius: 10px;
}




body {
    font-family: 'Poppins', sans-serif !important;
    font-size: 13.2px !important;
    color: #6c757d !important;
}

.sidebar-collapse.sidebar-mini .main-sidebar .nav-sidebar.nav-legacy .nav-link {
    margin-left: 10px !important;
}

.nav-header {
    color: #4bc7ff !important;
}

.sidebar-dark-primary {
    background-color: #293042 !important;
}

.brand-link {
    font-weight: 500 !important;
    border-bottom: none !important;
    margin-top: 1rem !important;
    color: #293042 !important;
}

.table-striped>tbody>tr:nth-of-type(odd)>* {
    color: #6c757d !important;
    --bs-table-accent-bg: none !important;
}

.nav-sidebar .nav-link p {
    margin-left: 0.75rem !important;
}

.badge {
    padding: 5px 10px !important;
}

td {
    vertical-align: middle !important;
}

.table-bordered td,
.table-bordered th {
    border: 0px !important;
}

nav-link active {
    width: 5.6rem !important;
}

.main-sidebar {
    overflow-y: auto !important;
    overflow-x: hidden !important;
}

.main-sidebar::-webkit-scrollbar {
    display: none;
}

section .sidebar-mini .main-sidebar .nav-legacy .nav-link:last-child {
    margin-bottom: 22px !important;
}

/*Mobile View*/
@media only screen and (max-width: 760px) {

    td,
    tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute !important;
        top: -9999px !important;
        left: -9999px !important;
    }

    tr {
        border: 1px solid #7876dc70;
    }

    tr+tr {
        margin-top: 1.5em;
    }

    td {
        /* make like a "row" */
        border: none !important;
        border-bottom: 1px solid rgb(238, 238, 238) !important;
        position: relative !important;
        padding-left: 50% !important;
        background-color: #eaecfd4e !important;
        text-align: left !important;
    }

    table.dataTable.table-striped>tbody>tr.odd>* {
        box-shadow: none !important;
    }

    td:before {
        content: attr(data-label) !important;
        display: inline-block !important;
        line-height: 1.5 !important;
        margin-left: -100% !important;
        width: 100% !important;
        white-space: nowrap !important;
    }

    th {
        visibility: hidden !important;
        float: left !important;
    }
}